[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass
[submodule "third_party/mp11"]
	path = third_party/mp11
	url = https://github.com/boostorg/mp11
